<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.lifedever.vouchbox.helper</string>
    <key>BundleProgram</key>
    <string>Contents/MacOS/com.lifedever.vouchbox.helper</string>
    <key>MachServices</key>
    <dict>
        <key>com.lifedever.vouchbox.helper</key>
        <true/>
    </dict>
    <key>SMAuthorizedClients</key>
    <array>
        <string>identifier "com.lifedever.vouchbox"</string>
    </array>
</dict>
</plist>
